<style type="text/css">

/*分别定义HTML中和标记之的距离样式*/

html, body, h1, form, fieldset, legend, ol, li {

    margin: 0;

    padding: 0;

}

/*定义<body>标记样式*/

body {

    background: #f0f0f0;

    color: #111111;

    font-family: Microsoft YaHei;

    padding-left: 20px;



}

/*定义付费内容的样式*/

form#payment {

    background: #E0E0E0;

    -webkit-border-radius: 5px;

    border-radius: 5px;

    padding: 20px;

    width: 500px;

    margin:left;

}

form#payment fieldset {

    border: none;

    margin-bottom: 10px;

}

form#payment fieldset:last-of-type { margin-bottom: 0; }

form#payment legend {

    color: #000000;

    font-size: 16px;

   # font-weight: bold;

    padding-bottom: 10px;

    text-shadow: 0 1px 1px #000000;

}

form#payment > fieldset > legend:before {

    content: "Step " counter(fieldsets+1) ": ";

    counter-increment: fieldsets;

}

form#payment fieldset fieldset legend {

    color: #111111;

    font-size: 13px;

    font-weight: normal;

    padding-bottom: 0;

}

form#payment ol li {

    background: #b9cf6a;

    background: rgba(255, 255, 255, .3);

    border-color: #e3ebc3;

    border-color: rgba(255, 255, 255, .6);

    border-style: solid;

    border-width: 2px;

    -webkit-border-radius: 5px;

    line-height: 30px;

    list-style: none;

    padding: 5px 10px;

    margin-bottom: 2px;

}

form#payment ol ol li {

    background: none;

    border: none;

    float: left;

}

form#payment label {

    float: left;

    font-size: 13px;

    width: 110px;

}

form#payment fieldset fieldset label {

    background: none no-repeat left 50%;

    line-height: 20px;

    padding: 0 0 0 30px;

    width: auto;

}

form#payment fieldset fieldset label:hover { cursor: pointer; }

form#payment input:not([type=radio]), form#payment textarea {

    background: #ffffff;

    border: #FC3 solid 1px;

    -webkit-border-radius: 3px;

    font: Microsoft YaHei;

    outline: none;

    padding: 5px;

    width: 335px;

}

form#payment input:not([type=submit]):focus, form#payment textarea:focus {

    background: #eaeaea;

    border: #F00 solid 1px;

}

form#payment input[type=radio] {

    float: left;

    margin-right: 5px;

}

</style>


<form id="payment" method="get" action="/updateUser">
{% csrf_token %}
    <fieldset>

        <legend>1.用户详细信息</legend>

        <ol>
            <li>



                <input  name="id" type="hidden" value="{{ user.id }}" required autofocus>

            </li>

             <li>

                <label for="email">公司名称：</label>

                <input  name="company_name" type="text" value="{{ user.company_name }}" required autofocus>

            </li>

            <li>

                <label for="email">数据库公网地址：</label>

                <input  name="rds_public" type="text" value="{{ user.rds_public }}" required autofocus>

            </li>

            <li>

                <label for="email">数据库内网地址：</label>

                <input  name="rds_inet" type="text" value="{{ user.rds_inet }}" required>

            </li>

            <li>

                <label for="email">数据库密码：</label>

                <input  name="rds_pass" type="text" value="{{ user.rds_pass }}" required>

            </li>

            <li>

                <label for="email">collector内网IP：</label>

                <input  name="collector_inet_ip" type="text" value="{{ user.collector_inet_ip }}" required>

            </li>

            <li>

                <label for="email">collector公网IP：</label>

                <input  name="collector_public_ip" type="text" value="{{ user.collector_public_ip }}" required>

            </li>

            <li>

                <label for="email">cloud内网IP：</label>

                <input  name="cloud_inet_ip" type="text" value="{{ user.cloud_inet_ip }}" required>

            </li>

            <li>

                <label for="email">cloud公网IP：</label>

                <input  name="cloud_public_ip" type="text" value="{{ user.cloud_public_ip }}" required>

            </li>

            <li>

                <label for="email">cloud_startkey：</label>

                <input  name="cloud_key" type="text" value="{{ user.cloud_key }}" required>

            </li>

            <li>

                <label for="email">auu_startkey：</label>

                <input  name="auu_key" type="text" value="{{ user.auu_key }}" required>

            </li>

            <li>

                <label for="email">dfg_startkey：</label>

                <input  name="dfg_key" type="text" value="{{ user.dfg_key }}" required>

            </li>
            <li>

                <label for="email">百度AK：</label>

                <input  name="baidu_ak" type="text" value="{{ user.baidu_ak }}" required>

            </li>
            <li>

                <label for="email">百度服务ID：</label>

                <input  name="baidu_serviceid" type="text" value="{{ user.baidu_serviceid }}" required>

            </li>
            <li>

                <label for="email">平台名称：</label>

                <input  name="ptname" type="text" value="{{ user.ptname }}" required>

            </li>
            <li>

                <label for="email">cloud_ip加密串：</label>

                <input  name="aesencode" type="text" value="{{ user.aesencode }}" required>

            </li>

        </ol>

    </fieldset>





    <fieldset>

        <center><input type="submit" value="修改" ></center>

    </fieldset>

</form>
