<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type"  content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
    background-color: #F5F5F5
}
.STYLE1 {
	color: #ffffff;
	font-size: 16px;
}
.STYLE6 {color: #000000; font-size: 15px; }
.STYLE10 {color: #000000; font-size: 15px; }
.STYLE19 {
	color: #344b50;
	font-size: 13px;
}
.STYLE21 {
	font-size: 12px;
	color: #3b6375;
}
.STYLE22 {
	font-size: 12px;
	color: #295568;
}
.STYLE30 {
    font-size: 14px;
    color:#FFFFFF;
    margin-right: 10px
}
.STYLE31 {
    margin-top: 5px
}
.STYLE32 {
    color: #1E90FF;
}
a { color: inherit;
text-decoration: none;

}
#STYLE33 {
	margin-top:-233px;
	left:0;
    color: #000000;
    height:0;
    padding-bottom: 45%;
    width: 10%;
    background-color:#F0F8FF;
}
.STYLE34 {
    border: 3px;
    border-color: #111111;
	height:60%;
    width: 1200px;
    background-color:#87CEFA;
}
.STYLE35 {
    width: 180px;
    height: 45px;

}

li {
line-height: 40px;
list-style-type:none;

}
.STYLE35:hover{
    background-color: #eaeaea;
}
-->
</style>



</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="55" bgcolor="#1E90FF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="1%" height="23" valign="bottom"><div align="center"></div></td>
                <td width="50%" valign="bottom"><span class="STYLE1">Devops 发 布 后 台</span></td>
                  <td width="40%" valign="bottom" align="right" border="5"><span class="STYLE30"><a href="/useradd">添加</a></span></td>
              </tr>
            </table></td>





        </table></td>
      </tr>
    </table></td>
  </tr>






{#  <td>#}
{#  <ul class="nav" id="side-menu">#}
{#	<li>#}
{#		<ul class="nav nav-second-level">#}
{#			<li><a href="import.html" target="menuFrame">进货报表</a></li>#}
{#			<li><a href="export.html" target="menuFrame">出货报表</a></li>#}
{#			<li><a href="check.html" target="menuFrame">毛利报表</a></li>#}
{#		</ul>#}
{#	</li>#}
{#</ul>#}
{#  </td>#}

    <td><table width="89%" border="0" cellpadding="0" cellspacing="1" bgcolor="#f0f0f0" align="right" class="STYLE31">
    <div class="STYLE34">
      <tr>
{#        <td width="4%" height="20" bgcolor="d3eaef" class="STYLE10"><div align="center">#}
{#          <input type="checkbox" name="checkbox" id="checkbox" />#}
{#        </div></td>#}
          <td width="2%" height="35" bgcolor="#ffffff" class="STYLE6"><div align="center"><span class="STYLE10">ID</span></div></td>
          <td width="5%" height="25" bgcolor="#ffffff" class="STYLE6"><div align="center"><span class="STYLE10">平台名称</span></div></td>
        <td width="5%" height="25" bgcolor="#ffffff" class="STYLE6"><div align="center"><span class="STYLE10">公司名称</span></div></td>

        <td width="12%" height="20" bgcolor="#ffffff" class="STYLE6"><div align="center"><span class="STYLE10">数据库公网IP</span></div></td>
{#        <td width="12%" height="20" bgcolor="#ffffff" class="STYLE6"><div align="center"><span class="STYLE10">数据库内网IP</span></div></td>#}
{#        <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">数据库密码</span></div></td>#}
        <td width="5%" height="20" bgcolor="#ffffff" class="STYLE6"><div align="center"><span class="STYLE10">采集器内网IP</span></div></td>
        <td width="5%" height="20" bgcolor="#ffffff" class="STYLE6"><div align="center"><span class="STYLE10">采集器公网IP</span></div></td>
		<td width="5%" height="20" bgcolor="#ffffff" class="STYLE6"><div align="center"><span class="STYLE10">cloud内网IP</span></div></td>
		<td width="5%" height="20" bgcolor="#ffffff" class="STYLE6"><div align="center"><span class="STYLE10">cloud公网IP</span></div></td>
{#		<td width="8%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">cloud_key</span></div></td>#}
{#		<td width="8%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">auu_key</span></div></td>#}
{#		<td width="8%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">dfg_key</span></div></td>#}
{#		<td width="10%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">百度AK</span></div></td>#}
{#		<td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">百度服务ID</span></div></td>#}
          <td width="5%" height="20" bgcolor="#ffffff" class="STYLE6"><div align="center"><span class="STYLE10">操作</span></div></td>

      </tr>
        <tbody>
        {% for row in ls %}
            <tr>
                <td height="35" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.id }}</div></td>
                <td height="25" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.ptname }}</div></td>
                <td height="25" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.company_name }}</div></td>
                <td height="25" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.rds_public }}</div></td>
{#                <td height="25" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.rds_inet }}</div></td>#}
{#                <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.rds_pass }}</div></td>#}
                <td height="25" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.collector_inet_ip }}</div></td>
                <td height="25" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.collector_public_ip }}</div></td>
                <td height="25" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.cloud_inet_ip }}</div></td>
                <td height="25" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.cloud_public_ip }}</div></td>
{#                <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.cloud_key }}</div></td>#}
{#                <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.auu_key }}</div></td>#}
{#                <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.dfg_key }}</div></td>#}
{#                <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.baidu_ak }}</div></td>#}
{#                <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.baidu_serviceid }}</div></td>#}

{#                <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">{{ row.aesencode }}</div></td>#}

                <td height="25" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><a href="/deleteUser?id={{ row.id }}" onClick="return confirm('确认要删除？')">删除</a> | <a href="/editUser?id={{ row.id }}">编辑</a> | <a href="/sureinfo?id={{ row.id }}">发布</a></div></td>





            </tr>
            </div>
        {% endfor %}
    </tbody>

    </table></td>
  </tr>

</table>

<div id="STYLE33">
    <ul>
        <div class="STYLE35"><li><a href="http://www.w3school.com.cn/tags/tag_iframe.asp" target="iframe_a">信息管理</a></li></div>

        <div class="STYLE35"><li><a href="https://www.cnblogs.com/" target="iframe_a">发布管理</a></li></div>


    </ul>
</div>

{# <div id="page_content">#}
{#          <iframe id="menuFrame" name="menuFrame" src="user.html" style="overflow:visible;" scrolling="yes" frameborder="no" width="100%" height="100%; float:left">#}
{#             </iframe>#}
{# </div>#}


</body>


</html>
